# Data Cleaning Notebook

## Objectives

*   Evaluate missing data
*   Clean data

## Inputs

* /content/WalkthroughProject1/inputs/datasets/weatherAUS.csv

## Outputs

* generate cleaned Train and Test set, both saved under /content/WalkthroughProject1/inputs/datasets

## Additional Comments | Insights | Conclusions

  * Check: **Are all dates in the proper sequence (with no gaps) for each cities?**

  * There are certain cities where some variables have 100% missing values

* Missing Data
  * dropna() with less than 8%: ['WindDir9am', 'WindGustDir', 'WindGustSpeed', 'Humidity3pm', 'WindDir3pm', 'Temp3pm', 'RainTomorrow', 'Rainfall', 'RainToday', 'WindSpeed3pm', 'Humidity9am', 'Temp9am', 'WindSpeed9am', 'MinTemp', 'MaxTemp']
  * drop variables with >30% of missing data: ['Sunshine', 'Evaporation', 'Cloud3pm', 'Cloud9am']
  * imput with mediam:

---

# Install Packages

In [ ]:
! pip install matplotlib -U
! pip install pandas-profiling==2.11.0
! pip install missingno==0.4.2
! pip install feature-engine==1.0.2

In [ ]:
# Code for restarting the runtime (that will restart colab session, all your variables will be lost)
import os
os.kill(os.getpid(), 9)

# **Connection between: Colab Session and your GitHub Repo**

### Insert your **credentials**

* The variable's content will exist only while the session exists. Once this session terminates, the variable's content will be erased permanently.

In [1]:
from getpass import getpass
import os
from IPython.display import clear_output 
print("=== Insert your credentials === \nType in and hit Enter")
UserName = getpass('GitHub User Name: ')
UserEmail = getpass('GitHub User E-mail: ')
RepoName = getpass('GitHub Repository Name: ')
UserPwd = getpass('GitHub Account Password: ')
clear_output()
print("* Thanks for inserting your credentials!")
print(f"* You may now Clone your Repo to this Session, "
      f"then Connect this Session to your Repo.")

* Thanks for inserting your credentials!
* You may now Clone your Repo to this Session, then Connect this Session to your Repo.

---

### **Clone** your GitHub Repo to your current Colab session

* So you can have access to your project's files

In [2]:
! git clone https://github.com/{UserName}/{RepoName}.git

print("\n")
%cd /content/{RepoName}
print(f"\n\n* Current session directory is:  {os.getcwd()}")
print(f"* You may refresh the session folder to access {RepoName} folder.")

Cloning into 'WalkthroughProject1'...
remote: Enumerating objects: 448, done.
remote: Counting objects: 100% (448/448), done.
remote: Compressing objects: 100% (374/374), done.
remote: Total 448 (delta 233), reused 122 (delta 27), pack-reused 0
Receiving objects: 100% (448/448), 13.24 MiB | 14.01 MiB/s, done.
Resolving deltas: 100% (233/233), done.


/content/WalkthroughProject1


* Current session directory is:  /content/WalkthroughProject1
* You may refresh the session folder to access WalkthroughProject1 folder.

---

### **Connect** this Colab session to your GitHub Repo

* So if you need, you can push files generated in this session to your Repo.

In [3]:
!git config --global user.email {UserEmail}
!git config --global user.name {UserName}
!git remote rm origin
!git remote add origin https://{UserName}:{UserPwd}@github.com/{UserName}/{RepoName}.git

print(f"\n\n * The current Colab Session is connected to the following GitHub repo: {UserName}/{RepoName}")
print(" * You can now push new files to the repo.")

 * The current Colab Session is connected to the following GitHub repo: FernandoRocha88/WalkthroughProject1
 * You can now push new files to the repo.

---

### **Push** generated/new files from this Session to GitHub repo

* Git commit

In [52]:
CommitMsg = "added=cleaned-data"
!git add .
!git commit -m {CommitMsg}

[main a8809c3] added=cleaned-data
 3 files changed, 121790 insertions(+)
 create mode 100644 inputs/datasets/cleaned/TestSetCleaned.csv
 create mode 100644 inputs/datasets/cleaned/TrainSetCleaned.csv

* Git Push

In [53]:
!git push origin main

Counting objects: 10, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (8/8), done.
Writing objects: 100% (10/10), 3.79 MiB | 1.76 MiB/s, done.
Total 10 (delta 3), reused 0 (delta 0)
remote: Resolving deltas: 100% (3/3), completed with 3 local objects.
To https://github.com/FernandoRocha88/WalkthroughProject1.git
   36cf436..a8809c3  main -> main

---

### **Delete** Cloned Repo from current Session

In [ ]:
%cd /content
!rm -rf {RepoName}
print(f"\n * Please refresh session folder to validate that {RepoName} folder was removed from this session.")

---

# Load your data

In [33]:
import pandas as pd
df_raw_path = "/content/WalkthroughProject1/inputs/datasets/WeatherAustralia_raw.csv"
df = pd.read_csv(df_raw_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 26 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
 23  Latitude       145460 non-null  float64
 24  Longitude      145460 non-null  float64
 25  State          145460 non-null  object
dtypes: float64(18), object(8)
memory usage: 28.9+ MB

## Quick exploration with Pandas Profiling

In [ ]:
from pandas_profiling import ProfileReport
ProfileReport(df, title="Pandas Profiling Report",minimal=True).to_notebook_iframe()

# Data Cleaning

## Get Day, Month and Year

In [34]:
df['Date'] = pd.to_datetime(df['Date'])
df['Day'] = df['Date'].dt.day
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year
df.drop(axis=1,labels=['Date'],inplace=True)
df.head(3)

  Location  MinTemp  MaxTemp  Rainfall  ...            State  Day Month  Year
0   Albury     13.4     22.9       0.6  ...  New South Wales    1    12  2008
1   Albury      7.4     25.1       0.0  ...  New South Wales    2    12  2008
2   Albury     12.9     25.7       0.0  ...  New South Wales    3    12  2008

[3 rows x 28 columns]

## Add RainfallTomorrow

In [35]:
def AddRainfallTomorrow(df,categ_var='Location'):
  df_final = pd.DataFrame([])

  for city in df[categ_var].unique():
    dfCity = df.query(f"{categ_var} == '{city}'").copy()
    dfCity['RainfallTomorrow'] = df['Rainfall'].shift(-1)
    df_final = df_final.append(dfCity)

  return df_final

df = AddRainfallTomorrow(df)
df.head(3)

  Location  MinTemp  MaxTemp  Rainfall  ...  Day  Month  Year  RainfallTomorrow
0   Albury     13.4     22.9       0.6  ...    1     12  2008               0.0
1   Albury      7.4     25.1       0.0  ...    2     12  2008               0.0
2   Albury     12.9     25.7       0.0  ...    3     12  2008               0.0

[3 rows x 29 columns]

* Are all dates in the proper sequence (with no gaps) for each cities?

## Assessing Missing Data Levels

* Custom function to display missing data levels in a dataframe, it shows the aboslute levels, relative levels and data type

In [7]:
def EvaluateMissingData(df):
  missing_data_absolute = df.isnull().sum()
  missing_data_percentage = round(missing_data_absolute/len(df)*100 , 2)
  df_missing_data = (pd.DataFrame(
                          data= {"RowsWithMissingData": missing_data_absolute,
                                 "PercentageOfDataset": missing_data_percentage,
                                 "DataType":df.dtypes}
                                  )
                    .sort_values(by=['PercentageOfDataset'],ascending=False)
                    .query("PercentageOfDataset > 0")
                    )

  return df_missing_data

* Check missing data levels for initial dataset

In [ ]:
EvaluateMissingData(df)

* Missing data levels in a visual format

In [ ]:
import missingno as mi
mi.matrix(df,figsize=(20,6))

### What are the rows with missing data?

In [ ]:
df_rows_with_NA = df[df.isnull().any(axis=1)].copy()

* which cities have more missing data?

In [ ]:
df_cities_with_NA = pd.DataFrame(data={
                                  "MissingDataRows":df_rows_with_NA['Location'].sort_values().value_counts(),
                                  "TotalNumberOfRows":df['Location'].sort_values().value_counts()
                                  })

df_cities_with_NA.plot(kind='bar',figsize=(20,6))

* There are some cities where some variables have 100% missing values

In [ ]:
df_cities_with_NA['Difference'] = df_cities_with_NA['TotalNumberOfRows'] - df_cities_with_NA['MissingDataRows']

list_of_cities_with_NA = df_cities_with_NA.query(f"Difference == 0").index.to_list()
print(f"* There are {len(list_of_cities_with_NA)} cities where some variables have 100% of missing values. \n"
      f"* These are the cities: {list_of_cities_with_NA}")

In [ ]:
for city in list_of_cities_with_NA:
  df_aux = df.query(f"Location == '{city}'")
  list_of_variables_with_100perc_missing_data = df_aux.columns[df_aux.isna().sum() / len(df_aux) == 1].to_list()

  print(f"* {city} \n "
        f"Variables with 100% missing data: {list_of_variables_with_100perc_missing_data} \n")

## Dealing with Missing Data

* **Strategy**
  * It is assumed you assessed already the missing data levels, so you are aware ofthe variables to work on

---

* You will **iterate the steps below accross different methods**, so at the end you will have dealt with all variables with missing data

  * 1 -  Select a **method**
  * 2 - Select **variables** to apply the method
  * 3 - Create a **separate dataframe** applying this method to the selected variables
  * 4 - **Compare** this new dataset with initial dataset to validate/assess the effect on distribution on variables
  * 5 - **If** you are satisfied, **apply** the selected method to the initial dataframe

---

* Eventually, over the steps, you will need to assess a different aspect to evaluate which method you would consider next
  * For example, you may be in a situation where you have 3 variables with high missing data levels. You may check the correlation among them to evaluate Multicollinearity. Then you will be in a better position to select the next method

  ---

* Over the course, you saw multiple methods for dealing iwth missing data, like DropVariables, DropNA, Imput with mean/median/mode, Imput the most frequent item etc

### Drop variables

* Method: **Drop Variables with more than 80% of missing data**
* Select variables to apply the method
* **just to speed up the process, we will drop variables with more than 30%, I will come back later and consider other methods**

In [36]:
variables_drop = EvaluateMissingData(df).query(f"PercentageOfDataset > 30").index.to_list()

print(f"* {len(variables_drop)} variables to drop \n\n"
    f"{variables_drop}")

* 4 variables to drop

['Sunshine', 'Evaporation', 'Cloud3pm', 'Cloud9am']

* Create a separate dataframe applying this method to the selected variables

In [37]:
df_drop_columns = df.drop(columns=variables_drop,axis=1).copy()

lost_percentage = round(100- len(df_drop_columns) / len(df) *100,2) 

print(f"* If I apply this method, "
      f"I will lose {lost_percentage}% of all dataset, or {len(df)-len(df_drop_columns)} rows. \n"
      f"* Dataset rows before method: {len(df)} \n"
      f"* Dataset rows after method: {len(df_drop_columns)} \n")

* If I apply this method, I will lose 0.0% of all dataset, or 0 rows.
* Dataset rows before method: 145460
* Dataset rows after method: 145460

* What is the effect?
    * In this case, no effect on variables distribution, since you are not removing rows, but columns
     * The effect is losing features that might have a relevant impact in your machine learning model.

* If you are statisfied, apply the method in your initial dataframe

In [38]:
df = df.drop(columns=variables_drop,axis=1).copy()

In [39]:
EvaluateMissingData(df)

                  RowsWithMissingData  PercentageOfDataset DataType
Pressure9am                     15065                10.36  float64
Pressure3pm                     15028                10.33  float64
WindDir9am                      10566                 7.26   object
WindGustDir                     10326                 7.10   object
WindGustSpeed                   10263                 7.06  float64
Humidity3pm                      4507                 3.10  float64
WindDir3pm                       4228                 2.91   object
Temp3pm                          3609                 2.48  float64
RainTomorrow                     3267                 2.25   object
RainToday                        3261                 2.24   object
RainfallTomorrow                 3262                 2.24  float64
Rainfall                         3261                 2.24  float64
WindSpeed3pm                     3062                 2.11  float64
Humidity9am                      2654                 1.82  float64
Temp9am                          1767                 1.21  float64
WindSpeed9am                     1767                 1.21  float64
MinTemp                          1485                 1.02  float64
MaxTemp                          1261                 0.87  float64

### Complete Case Analysis ("list-wise deletion")

* Method: **Remove missing observations. Rule of thumb is to consider variables with less than 5% of missing data**
* Select variables to apply the method

In [40]:
variables_cca = (EvaluateMissingData(df)
                .query("PercentageOfDataset < 8")
                .index
                .to_list()
                )
print(f"* {len(variables_cca)} variables to apply Complete Case Analysis \n\n"
    f"{variables_cca}")

* 16 variables to apply Complete Case Analysis

['WindDir9am', 'WindGustDir', 'WindGustSpeed', 'Humidity3pm', 'WindDir3pm', 'Temp3pm', 'RainTomorrow', 'RainToday', 'RainfallTomorrow', 'Rainfall', 'WindSpeed3pm', 'Humidity9am', 'Temp9am', 'WindSpeed9am', 'MinTemp', 'MaxTemp']

* Create a separate dataframe applying this method to the selected variables

In [41]:
df_cca = df.dropna(subset=variables_cca).copy()

lost_percentage = round(100- len(df_cca) / len(df) *100,2) 

print(f"* If I apply this method, "
      f"I will lose {lost_percentage}% of all dataset, or {len(df)-len(df_cca)} rows. \n"
      f"* Dataset rows before method: {len(df)} \n"
      f"* Dataset rows after method: {len(df_cca)} \n")

* If I apply this method, I will lose 16.27% of all dataset, or 23672 rows.
* Dataset rows before method: 145460
* Dataset rows after method: 121788

* What is the effect?  
  * We can plot the distribution before and after applying the method. If the distribution differs a lot, better not consider this method for that variable.

* We create a custom function to evaluate. It can be used accross the notebook

In [19]:
import seaborn as sns
import matplotlib.pyplot as plt

def DataCleaningEffect(df_original,df_cleaned,variables_to_analyze):
  sns.set(style="darkgrid")

  categorical_variables = df_original.select_dtypes(exclude=['number']).columns
  flag_count=1

  for var in variables_to_analyze:
    if var in categorical_variables:
      df1 = pd.DataFrame({"Type":"Original","Value":df_original[var]})
      df2 = pd.DataFrame({"Type":"Cleaned","Value":df_cleaned[var]})
      dfAux = pd.concat([df1, df2], axis=0)
      # use a statistical test to inform if there is significant change
      plt.figure(figsize=(20, 5))
      sns.countplot(hue='Type', data=dfAux, x="Value",palette=['#432371',"#FAAE7B"]).set(title=f"Distribution Plot {flag_count}: {var}")
      
      plt.xticks(rotation=90)
      plt.legend() 

    else:

      # use a statistical test to inform if there is significant change
      plt.figure(figsize=(10, 5))
      sns.histplot(data=df_original, x=var, color="#432371", label='Original', kde=True,element="step")
      sns.histplot(data=df_cleaned, x=var, color="#FAAE7B", label='Cleaned', kde=True,element="step").set(title=f"Distribution Plot {flag_count}: {var}")
      plt.legend() 

    plt.show()
    flag_count+= 1

In [ ]:
DataCleaningEffect(
    df_original = df,
    df_cleaned = df_cca,
    variables_to_analyze = df_cca.columns)

## add variables that you applied the method: variables_cca

* If you are statisfied, apply the method in your dataframe

In [42]:
from feature_engine.imputation import DropMissingData
missingdata_imputer = DropMissingData(variables=variables_cca)
missingdata_imputer.fit(df)
df= missingdata_imputer.transform(df)

In [43]:
EvaluateMissingData(df)

             RowsWithMissingData  PercentageOfDataset DataType
Pressure9am                 8830                 7.25  float64
Pressure3pm                 8779                 7.21  float64

### Imput Median

* Method: **Imput Median**
* Select variables to apply the method

In [44]:
variables_median = EvaluateMissingData(df).index.to_list()
variables_median

['Pressure9am', 'Pressure3pm']

* Create a separate dataframe applying this method to the selected variables

In [45]:
from feature_engine.imputation import MeanMedianImputer
median_imputer = MeanMedianImputer(imputation_method='median', variables=variables_median)
median_imputer.fit(df)

# transform the data
df_median= median_imputer.transform(df)

* What is the effect?

In [ ]:
DataCleaningEffect(
    df_original = df,
    df_cleaned = df_median,
    variables_to_analyze =variables_median)

* If you are statisfied, apply the method in your initial dataframe

In [46]:
from feature_engine.imputation import MeanMedianImputer
median_imputer = MeanMedianImputer(imputation_method='median', variables=variables_median)

from sklearn.model_selection import train_test_split
from config import config
TrainSet, TestSet, _, __ = train_test_split(
                                        df,
                                        df['RainTomorrow'],
                                        test_size=config.TEST_SIZE,
                                        random_state=config.RANDOM_STATE)

# fit the imputer
median_imputer.fit(TrainSet)

# transform the data
TrainSet, TestSet = median_imputer.transform(TrainSet) , median_imputer.transform(TestSet)

In [48]:
EvaluateMissingData(TrainSet)

Empty DataFrame
Columns: [RowsWithMissingData, PercentageOfDataset, DataType]
Index: []

In [49]:
EvaluateMissingData(TestSet)

Empty DataFrame
Columns: [RowsWithMissingData, PercentageOfDataset, DataType]
Index: []

# Save cleaned data: Train/Test sets

In [50]:
TrainSet.to_csv("/content/WalkthroughProject1/inputs/datasets/cleaned/TrainSetCleaned.csv",index=False)
TestSet.to_csv("/content/WalkthroughProject1/inputs/datasets/cleaned/TestSetCleaned.csv",index=False)

# Your next notebook section